{
    "presets": [
        "babel-preset-gatsby"
    ],
    "plugins": [
        [
            "prismjs",
            {
                "languages": [
                    "javascript",
                    "bash",
                    "yaml"
                ],
                "plugins": [
                    "show-language"
                ],
                "theme": "okaidia",
                "css": true
            }
        ]
    ]
}