<<<<<<< HEAD
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #64748b;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #475569;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #cbd5e1;
}
=======
@import "tailwindcss";

/* Inline safelist */
/* Widths with responsive variants */
@source inline('{sm:,md:}w-{4,5,7,10}');

/* Background colors with hover and dark variants */
@source inline('{hover:,dark:}bg-{gray,red,orange,yellow,green,cyan,blue,indigo,purple,violet,fuchsia,pink}-{500,600,700,800}');
>>>>>>> 510f768 (🦄 refactor(all files): change to typescript)
